# Xcode
build/
DerivedData/
*.xcuserstate

# Ignore ALL Xcode user data (schemes, breakpoints, user-specific stuff)
xcuserdata/
xcuserdatad/
project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/

# Swift Package Manager
.build/

# CocoaPods
Pods/
*.xcworkspace

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Misc
.DS_Store

# Secrets
Secrets.xcconfig

# TODO
TODO.txt
